{% extends 'base.html' %} {% block title %}Dictandu: Help{% endblock %} {% block
content %}

<div
    class="ui middle aligned center aligned grid"
    style="height: 100vh; padding: 0 1rem;"
>
    <div class="column">
        <div id="register" class="auth-form">
            {% block form %} {% endblock %}
        </div>
    </div>
</div>

<style>
    body.pushable > .pusher {
        background-color: var(--light_bg_color) !important;
    }
    .formFooter,
    .formFooter-heightMask {
        display: none;
    }

    ul.form-section {
        list-style: none;
        padding-left: 0;
    }
    .Footer.ui.segment {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .pushable > .pusher {
        height: 100vh;
        margin-top: 0;
    }
    .ui.header > .image:not(.icon),
    .ui.header > img {
        width: 2em;
    }
    .ui.info.message.floating {
        position: fixed;
        top: 65px;
        z-index: 1;
        width: 90%;
        left: 5%;
    }
    .column {
        max-width: 450px;
    }
    .field .ui.bottom.attached.negative.tiny.message {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0.67857143em 1em;
    }
</style>
{% endblock %} {% block script %}

<script type="text/javascript">
    if ($(window).width() > 413) {
        $('.following.bar').addClass('Solid');
    }
</script>
{% endblock %}
