{% extends 'base.html' %} {% from "_macros.html" import render_field %} {% block
header %}
<h1>{% block title %}Edit Profile{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="content">
    <div id="register" class="auth-form">
        <h1>Edit Profile</h1>
        <aside>
            This is mainly a proof of concept.<br />
            It should not be submited.
        </aside>
        <form method="post" class="pure-form">
            {{ form.hidden_tag()}}
            <fieldset class="pure-group">
                {{ render_field(form.email, 'at') }} {{
                render_field(form.username, 'user') }}
            </fieldset>
            {{ form.submit|safe }}
        </form>
    </div>
    <div>{% endblock %}</div>
</div>
