{% extends 'auth/base.html' %} {% from "_macros.html" import render_field %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% block form %}
<h2 class="ui primary image header primary">
    <div class="content">Log In</div>
</h2>
<form method="post" class="ui large form">
    <div class="ui stacked segment">
        {{ form.hidden_tag()}} {{ render_field(form.email, 'at') }} {{
        render_field(form.password, 'lock') }} {{ form.submit|safe }}
    </div>
</form>
<div class="ui left aligned basic segment" style="margin-bottom: 0;">
    <p>If you want to <b>test</b> Dictandu without signing up, you can use:</p>
    <ul>
        <li><strong>Email:</strong> test@dictandu.com</li>
        <li><strong>Password:</strong> pass</li>
    </ul>
</div>
<div class="ui large message" style="margin-top: 0;">
    Wanna join us? <a href="{{ url_for('auth.register') }}">Join Our Beta!</a>
</div>
{% endblock %} {% block script %}

<script type="text/javascript">
    if ($(window).width() > 413) {
        $('.following.bar').addClass('Solid');
    }
</script>
{% endblock %}
