{% extends 'auth/base.html' %}
{% from "_macros.html" import render_field %}

<h1>{% block title %}Register{% endblock %}</h1>

{% block form %}
<h2 class="ui primary image header primary">
    <div class="content">Register</div>
</h2>
<form method="post" class="ui large form">
    <div class="ui stacked segment">
        {{ form.hidden_tag()}} {{ render_field(form.email, 'at') }} 
        {{ render_field(form.username, 'user') }} {{
        render_field(form.password, 'lock') }} 
        {{ render_field(form.password2, 'lock') }} {{ form.submit|safe }}
    </div>
</form>
{% endblock %} {% block script %}

<script type="text/javascript">
    if ($(window).width() > 413) {
        $('.following.bar').addClass('Solid');
    }
</script>
{% endblock %}