{% extends 'auth/base.html' %} {% block title %}Dictandu: Help{% endblock %} {%
block form %}

<h2 class="ui primary image header primary">
    <div class="content">Join Our Beta</div>
</h2>
<div class="ui large message left aligned segment" style="max-width: 500px">
    <p>
        Hello, thank you for expressing interest in joining the Dictandu Beta.
    </p>

    <p>In order to apply, please enter your name and your email below.</p>

    <!--
        <p>
            As we recruit new testers periodically, it might take some
            time until you will hear back from us, but be assured that
            we are doing our best to review and process applications as
            quickly as we can.
        </p>
    -->

    <p><strong>Marco Laspe (@rockiger)</strong></p>
</div>

<script
    src="https://cdn.jotfor.ms/static/prototype.forms.js"
    type="text/javascript"
></script>
<script
    src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.7294"
    type="text/javascript"
></script>
<script type="text/javascript">
    JotForm.init(function() {
        JotForm.alterTexts({
            alphabetic: 'Dieses Feld darf nur Buchstaben enthalten',
            alphanumeric:
                'Dieses Feld darf nur Buchstaben und Zahlen enthalten.',
            ccInvalidCVC: 'CVC-Nummer ist ungültig.',
            ccInvalidExpireDate: 'Ablaufdatum ungültig ist.',
            ccInvalidNumber: 'Ungültige Kontodaten',
            ccMissingDetails: 'Bitte füllen Sie die Kreditkartenangaben aus.',
            ccMissingDonation:
                'Bitte geben Sie numerische Werte für Spendenbetrag.',
            ccMissingProduct: 'Bitte wählen Sie mindestens ein Produkt',
            characterLimitError: 'Zu viele Zeichen. Die Grenze ist',
            characterMinLimitError: 'Zu wenige Zeichen. Das Minimum ist',
            confirmClearForm:
                'Sind Sie sicher, dass Sie das Formular leeren wollen?',
            confirmEmail: 'email ist nicht korrekt',
            currency: 'Diese Feld darf nur Währungswerte enthalten.',
            cyrillic: 'Dieses Feld kann nur kyrillische Zeichen enthalten',
            dateInvalid:
                'Dieses Datum ist ung&amp;Atilde;&amp;frac14;ltig. Das Datumsformat ist wie folgt:',
            dateInvalidSeparate:
                'Dieses Datum ist nicht gültig. Geben Sie eine gültige {element}.',
            dateLimited:
                'Dieses Datum ist nicht verf&amp;Atilde;&amp;frac14;gbar.',
            disallowDecimals: 'Bitte geben Sie eine ganze Zahl.',
            email: 'Geben Sie eine gültige E-Mail Adresse ein',
            fillMask: 'Der Feldwert muss die Maske ausfüllen',
            freeEmailError: 'Kostenlose E-Mail-Konten sind nicht erlaubt',
            generalError:
                'In Ihrem Formular sind Fehler. Bitte beheben Sie diese bevor Sie fortfahren.',
            generalPageError:
                'Es existieren Fehler auf dieser Seite. Bitte beseitigen Sie sie bevor Sie fortfahren.',
            gradingScoreError:
                'Gesamtbewertung sollte nur weniger als oder gleich sein zu',
            incompleteFields:
                'Es gibt unvollständige Pflichtfelder. Bitte füllen Sie diese aus. ',
            inputCarretErrorA:
                'Die Eingabe sollte nicht kleiner sein als der Minimalwert:',
            inputCarretErrorB:
                'Ihre Eingabe sollte den vorgegebenen Maximalwert nicht übersteigen:',
            lessThan: 'Ihre Bewertung sollte geringer als oder gleich sein wie',
            maxDigitsError: 'Die maximal erlaubten Ziffern sind',
            multipleFileUploads_emptyError:
                '{file} ist leer, bitte wählen Sie wieder Dateien ohne es.',
            multipleFileUploads_fileLimitError:
                'Nur {fileLimit} Dateiuploads sind erlaub!',
            multipleFileUploads_minSizeError:
                '{file} ist zu klein, minimale Dateigröße ist {minSizeLimit}.',
            multipleFileUploads_onLeave:
                'Die Dateien werden gerade hochgeladen. Wenn Sie die Seite jetzt verlassen, wird der Upload abgebrochen.',
            multipleFileUploads_sizeError:
                '{file} ist zu groß, die maximale Dateigröße ist {sizeLimit}.',
            multipleFileUploads_typeError:
                '{file} hat einen ungültigen Erweiterung. Nur {extensions} sind erlaubt.',
            nextButtonText: 'Weiter',
            numeric: 'Dieses Feld darf nur numerische Werte enthalten',
            pastDatesDisallowed:
                'Datum darf nicht in der Vergangenheit liegen.',
            pleaseWait: 'Bitte warten Sie...',
            prevButtonText: 'Previous',
            progressMiddleText: 'of',
            required: 'Dies ist ein Pflichtfeld.',
            requireEveryCell: 'Jede Zelle ist erforderlich.',
            requireEveryRow: 'Jede Zeile benötigt.',
            requireOne: 'Mindestens ein Feld ist erforderlich.',
            reviewBackText: 'Back to Form',
            reviewSubmitText: 'Review and Submit',
            seeAllText: 'See All',
            submissionLimit:
                'Es tut uns leid. Es ist nur ein Eintrag erlaubt. Mehrfacheinträge sind in diesem Formular deaktiviert.',
            submitButtonText: 'Absenden',
            uploadExtensions:
                'Sie k&amp;ouml;nnen nur folgende Dateien hochladen:',
            uploadFilesize: 'Die Dateigröße kann nicht größer sein als:',
            uploadFilesizemin: 'Die Dateigröße darf nicht tiefer sein als:',
            url: 'Dieses Feld kann nur eine gültige URL enthalten',
            wordLimitError: 'Zu viele Worte. Die Grenze ist',
            wordMinLimitError: 'Zu wenige Worte. Das Minimum ist',
        });
        JotForm.clearFieldOnHide = 'disable';
        JotForm.submitError = 'jumpToFirstError'; /*INIT-END*/
    });
    JotForm.prepareCalculationsOnTheFly([
        null,
        null,
        {
            name: 'register',
            qid: '2',
            text: 'Register',
            type: 'control_button',
        },
        null,
        {
            description: '',
            name: 'email',
            qid: '4',
            subLabel: '',
            text: 'E-Mail',
            type: 'control_email',
        },
        null,
        null,
        null,
        {
            description: '',
            name: 'name8',
            qid: '8',
            subLabel: '',
            text: 'Name',
            type: 'control_textbox',
        },
    ]);
    setTimeout(function() {
        JotForm.paymentExtrasOnTheFly([
            null,
            null,
            {
                name: 'register',
                qid: '2',
                text: 'Register',
                type: 'control_button',
            },
            null,
            {
                description: '',
                name: 'email',
                qid: '4',
                subLabel: '',
                text: 'E-Mail',
                type: 'control_email',
            },
            null,
            null,
            null,
            {
                description: '',
                name: 'name8',
                qid: '8',
                subLabel: '',
                text: 'Name',
                type: 'control_textbox',
            },
        ]);
    }, 20);
</script>
<!--
    <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.7294" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.7294" />
    <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.7294" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?" />
-->
<style>
    body.pushable > .pusher {
        background-color: var(--light_bg_color) !important;
    }
    .formFooter,
    .formFooter-heightMask {
        display: none;
    }

    ul.form-section {
        list-style: none;
        padding-left: 0;
    }
    .Footer.ui.segment {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .pushable > .pusher {
        height: 100vh;
        margin-top: 0;
    }
    .ui.header > .image:not(.icon),
    .ui.header > img {
        width: 2em;
    }
    .ui.info.message.floating {
        position: fixed;
        top: 65px;
        z-index: 1;
        width: 90%;
        left: 5%;
    }
    .column {
        max-width: 450px;
    }
</style>

<form
    class="jotform-form ui large form"
    action="https://submit.jotformeu.com/submit/82275862527364/"
    method="post"
    name="form_82275862527364"
    id="82275862527364"
    accept-charset="utf-8"
>
    <div class="ui stacked segment">
        <input type="hidden" name="formID" value="82275862527364" />
        <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input
                    type="text"
                    id="input_8"
                    name="q8_name8"
                    data-type="input-textbox"
                    class="form-textbox validate[required]"
                    size="20"
                    value=""
                    data-component="textbox"
                    required=""
                    placeholder="Name"
                />
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="at icon"></i>
                <input
                    type="email"
                    id="input_4"
                    name="q4_email"
                    class="form-textbox validate[required, Email]"
                    size="20"
                    value=""
                    data-component="email"
                    required=""
                    placeholder="Email"
                />
            </div>
        </div>
        <button
            id="input_2"
            type="submit"
            class="ui fluid large primary submit button"
            data-component="button"
        >
            Join Beta
        </button>
    </div>
    <ul>
        <li style="display:none">
            Should be Empty: <input type="text" name="website" value="" />
        </li>
    </ul>
    <script>
        JotForm.showJotFormPowered = 'new_footer';
    </script>
    <input
        type="hidden"
        id="simple_spc"
        name="simple_spc"
        value="82275862527364"
    />
    <script type="text/javascript">
        document.getElementById('si' + 'mple' + '_spc').value =
            '82275862527364-82275862527364';
    </script>
    <div class="formFooter-heightMask"></div>
    <div class="formFooter">
        <a
            href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=82275862527364&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le"
            target="_blank"
            class="formFooter-logoLink"
            ><img
                class="formFooter-logo"
                src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png"
                alt=""
                style="height: 44px;"
        /></a>
        <div class="formFooter-rightSide">
            <span class="formFooter-text">
                Now create your own JotForm - It's free!
            </span>
            <a
                class="formFooter-button"
                href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=82275862527364&utm_content=jotform_button&utm_campaign=powered_by_jotform_le"
                target="_blank"
                >Create your own JotForm</a
            >
        </div>
    </div>
</form>
<script type="text/javascript">
    JotForm.ownerView = true;
</script>
<script type="text/javascript">
    JotForm.forwardToEu = true;
</script>
{% endblock %} {% block script %}

<script type="text/javascript">
    if ($(window).width() > 413) {
        $('.following.bar').addClass('Solid');
    }
</script>
{% endblock %}
