* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Noto, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

hr {
    height: 1px;
    background-color: #eee;
    border: none;
    margin-bottom: 3rem;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}


/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button {
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the pages
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #fff;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-link, .home-menu .pure-menu-disabled {
    padding: .8rem 1em;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #1cb841;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the pages.
 */

.splash-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 69%;
    top: 0;
    left: 0;
    position: fixed !important;
    background: 
        linear-gradient( 
            rgba(0, 0, 0, 0.35), 
            rgba(0, 0, 0, 0.35) 
        ),
        url(splash-background1.jpg);
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 69%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}
.splash .pure-button {
    border-style: solid;
    border-width: 2px;
    width: 200px;
    padding: 0.5em 0;
}

.button-success {
    background: #5eb95e;


}
.pure-button-secondary {
    border-color: white;
    background: none;
    margin-right: 1rem;
}

.pure-button-secondary:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: lighter;
    padding: 0 1.6em;
    border-radius: 5px;
    line-height: 1em;
    color: white;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    letter-spacing: 0.05em;
    color: white;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 68%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
    max-width: 1440px;
    margin: auto;
}
    .content-wide {
        max-width: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 0 1em;
}

.content .pure-g {
    display: flex;
}

.content .pure-g [class *= "pure-u"] {
    align-self: center;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1cb841;
    font-weight: normal;
}
    .content-subhead i {
        margin-right: 7px;
    }


.auth-form {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.auth-form h1 {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.auth-form form {
    border: 1px solid #ccc;
    padding: 1rem 1.6rem;
}

.auth-form button {
    width: 100%;
}


/* light background */
.lightbg {
    background: rgb(250, 250, 250);
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    width: 100%;
}

.shadow {
    border-radius: 6px;
    border: 1px solid #eee;
    box-shadow: 6px 30px 30px rgba(23,43,77,.1);
}


/* This is for the help page */
.help-wrapper {
    padding-top: 7rem;
}

.help-wrapper .content {
    max-width: 768px;
}

.help-wrapper h2 {
    padding-top: 100px;
}

aside {
    background: #1f8dd6;
    margin: 1em 0;
    padding: 1em;
    border-radius: 3px;
    color: #fff;
}

aside.alert {
    margin-top: 6rem;
    max-width: 1440px;
    margin: 7rem auto -4rem;
}

.alert {
    padding: 1rem;
    border-radius: 5px;
    margin: 3rem 0;
}

.alert_secondary{
    background: #eee
}
.right {
    float: right;
}
.left {
    float: left;
}
.clearfix {
    clear: both;
}
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 18px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 80%;
    }

    .splash-head {
        font-size: 200%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 220%;
    }
}
