/* Color definitions
---------------------*/
/* Color Backgrounds for areas and notifications */

:root {
    --primary: dodgerblue;
}
.bg-primary, .bg-base, bg-blue {background: #1f8dd6;}
.bg-success, .bg-green {background: #5eb95e;}
.bg-error, .bg-red {background: #dd514c;}
.bg-warning, .bg-orange {background: rgb(243, 123, 29);}
.bg-notification, .bg-yellow {background: rgb(250, 210, 50);}
.bg-secondary, bg-light-blue {background: rgb(66, 184, 221);}
.bg-light-gray {background: #f6f6f6;} 

.dark-gray {color: #777;}
.gray {color: #E6E6E6;} 

/* colors  for buttons and links  */ 
#TEST {
background: #1f8dd6; /* Base, Primary - Blue - use standard class */
background: rgb(28, 184, 65); /* suceess - Green */
background:  rgb(202, 60, 60); /* error - maroon */
background: rgb(223, 117, 20); /* Base, Prim ary - Blue */
background: rgb(66, 184, 221); /* secondary - light Blue */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Noto, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
    
    BOX SIZING

*/

html, body, div, article, section, main, footer, header, form, fieldset, legend, pre, code, a, h1,h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, textarea, table,  td, th, tr, input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"], .border-box { box-sizing: border-box; }

:focus { outline: none;}

body { background-color: white }

/* Padding & Margin */
.ph1 { padding-left: 1rem; padding-right: 1rem; }
.ph2 { padding-left: 2rem; padding-right: 2rem; }
.ph3 { padding-left: 3rem; padding-right: 3rem; }
.ph4 { padding-left: 4rem; padding-right: 4rem; }
.pv1 { padding-top: 1rem; padding-bottom: 1rem; }
.pv2 { padding-top: 2rem; padding-bottom: 2rem; }
.pv3 { padding-top: 3rem; padding-bottom: 3rem; }
.pb025 { padding-bottom: 0.25rem; }
.pb3 { padding-bottom: 3rem; }
.pt035 { padding-top: 0.35rem; }
.pt3 { padding-top: 3rem; }
.mb05 { margin-bottom: 0.5rem; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.ml05 { margin-left: 0.5rem; }

/* Borders */}
.bn { border: none;}
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.bb--dashed { border-style: none none dashed none; }

/* Border Colors */
.b--light-gray {border-color: lightgray; }
.b--silver {border-color: silver; }

/* Background-Colors */
.bg-white { background-color: white; }
.b--primary-color-active:focus { border-color: var(--primary); }
/* Text-Align */
.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }

/* Grid */
.grid-container { display: grid; }
.doc-grid { grid-template-columns: calc(50vw - 250px) 50vw; }
.vw50 { width: 50vw; }
.vw50-250px { width: calc(50vw - 250px); }
.vh100 { height: 100vh; }
.vh95-8 { height: 95.8vh; }
.w100 { width: 100%; }
.w10rem {width: 10rem; }
.h3rem {height: 3rem; }
.h4-2rem { height: 4.2rem; }
.h100-4-2rem { height: calc(100vh - 4.2rem); }

/* Display */
.db {display: block; }
.dib {display: inline-block; }
.df { display: flex; }
.dn {display: none; }
.flex-dir-col { flex-direction: column; }
.flex-dir-row { flex-direction: row; }
.justify-center { justify-content: center; }

/* Text Transform */
.ttc { text-transform: capitalize; }
.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.b { font-weight: bold;}

/* Styling the documents overview
----------------------------------*/
.cards {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.card {
  padding: 1.25rem;
  border: 1px solid silver;
  margin-left: 2.25rem;
  margin-top: 3.25rem;
  margin-bottom: 0.25rem;
  width: 12rem;
  height: 14rem;
  background: #fff;
  overflow: hidden;
}
    .card:hover {
        box-shadow: 0 1px 5px rgba(1,1,1,.3);
    }
    .card h4, card h5 {
        margin: 0;
    }
    a.card {
        color: unset;
        text-decoration: unset;
        display: flex;
        flex-direction: column;
    }
        .card p {
            flex-grow: 1;
        }
    .card .new-doc {
        text-align: center;
        font-weight: 100;
        line-height: 1em;
        color: #777;
    }

    .card header {
        height: 10rem;
    }

    .card footer {
        height: 2rem;
    }
    .card form {
        text-align: right;
        position: relative;
        display: block;
        height: 2rem;
    }
    .card .danger {
        position: absolute;
        z-index: 2;
        width: 2.2rem;
        background: transparent;
        height: 2rem;
        border: none;
        outline: none;
    }
        .card .danger:hover {
            border-radius: 4px;
            background: rgba(202, 60, 60, 0.2);
        }
        .card input.danger {
            right: -6px;
            top: -2px;
        }
        .card div.danger {
            position: relative;
            left: -6px;
            top: -30px;
        }

    .card footer form i {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
        color: #efefef;
    }
    .card footer i, .card div.export {
        font-size: 1.75rem;
    }
        .card:hover footer i {
            color: rgb(202, 60, 60);
        }


.mydocs__onboarding {
    margin-left: 2.25rem;
    margin-top: 0.25rem;
}

.alert {
    padding: 1rem 2rem;
    border-radius: 5px;
}

.alert_secondary {
    background: #eee;
}

.mydocs__onboarding {
    margin-left: 2.25rem;
    margin-top: 1.0rem;
    width: 40.5rem;
}
.mydocs__onboarding .alert {
    display: flex;
}
.mydocs__onboarding__arrow-container__arrow {
    width: 6rem;
}
/* Styling the document update / create view 
--------------------------------------------*/


#editor {
    border: none;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.7em;
    margin-bottom: 0;   
}

.ProseMirror { 
    height: calc(100vh - 7.2rem); 
    padding: 2rem 10rem 50vh;
    overflow-y: scroll;
}
.ProseMirror-menubar { height: 3rem; }
.ProseMirror-menuitem { margin-top: calc(1.5rem - 17px); }

span[contenteditable="false"].ProseMirror-widget {
    color: silver;
    font-style: italic;
}

.ProseMirror h1:before, .ProseMirror h2:before, .ProseMirror h3:before, .ProseMirror h4:before, .ProseMirror h5:before, .ProseMirror h6:before {
    position: relative;
    display: inline-block;
    width: 4rem;
    margin-right: 1rem;
    color: lightgray;
}
.ProseMirror h1:before { content: "#" }
.ProseMirror h2:before { content: "##" }
.ProseMirror h3:before { content: "###" }
.ProseMirror h4:before { content: "####" }
.ProseMirror h5:before { content: "#####" }
.ProseMirror h6:before { content: "######" } 


.ProseMirror h1:hover:before, .ProseMirror h2:hover:before, .ProseMirror h3:hover:before, .ProseMirror h4:hover:before, .ProseMirror h5:hover:before, .ProseMirror h6:hover:before { 
    color: currentColor; cursor: pointer;
 }

.ProseMirror h1, .ProseMirror h2, .ProseMirror h3, .ProseMirror h4, .ProseMirror h5, .ProseMirror h6 {
    margin-left: -5rem;
}

#contexthelp .pure-button {
    display: inline-block;
    height: 34px;
    min-width: 30px;
}

/* Styling the controls
-----------------------*/

.controls-background {
    position: fixed;
    display: block;
    height: 3.75rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0px 2px rgba(1,1,1,.15);
    background: #fff;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
}

.controls {
    position: fixed;
    top: 10px;
    left: calc(650px + 300px + 4rem - 6 * 40px - 6 * 0.6rem);
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    background: unset;
    border-radius: unset;
    padding: 0;
    z-index: 2;
}

.controls button, .toolbar button {
    height: 40px;
    width: auto;
    min-width: 40px;
}

.controls .punc-buttons, .controls .md-buttons {
    display: flex;
    margin-top: 0;
}

.controls .punc-buttons {
    flex-direction: row-reverse;
}

.button-start {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-stop {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.punc-buttons, .md-buttons {
    margin-top: 0.6em;
}

.punc-button, .md-button {
    width: 40px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    margin-right: 0.6rem;
}

/* Styling of the toolbar
-------------------------*/

.toolbar-wrappper {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #f6f6f6;
    padding: 0;
    color: #777;
    height: 3.75rem;
    width: 100%;
}

.toolbar {
    position: static;
    background: #f6f6f6;
    padding: 0.8rem 1rem 0.6rem 1rem;
    color: #777;
    display: flex;
    max-width: 987px;
}

.interim {
    flex-grow: 1;
}

.popup {
    visibility: hidden;
    position: fixed;
    bottom: 55%;
    left: 50%;
    margin-left: -80px;
    z-index: 1060;
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

.popup:after, .popup:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.popup:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.popup:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0,0,0,0.2);
	border-width: 11px;
    margin-left: -11px;
}

.popup-header:empty {
    display: none;
}

.popup-header {
    padding: .5rem .75rem;
    margin: 0;
    font-size: 1rem;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.popup-body {
    padding: .5rem .75rem;
    color: #212529;
}

#settings_popup:after {
    border-bottom-color: #f7f7f7;
}
#export_popup:after, #export_popup:before {
    left: 54%;
}

#export_textarea {
    width: calc(100vw - 300px);
    height: calc(100vh - 6rem);
    max-width: 803px;
    font-family: monospace;
    border: none;
    resize: none;
    padding: 1rem;
    border-radius: .3rem;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup.show {
    visibility: visible;
    animation: fadeIn 0.5s
}

/* Add animation (fade in the popup) */

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/* Utility styling 
------------------*/

.w-100 {
    width: 100%;
}

.not-allowed {
    cursor: not-allowed;
}

.display-none {
    display: none;
}

.box {
    box-sizing: border-box;
}

.zIndex0 {
    z-index: 0;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media screen and (max-width: 1350px) {

    .doc-wrapper #submit, .controls {
      left: unset;
      right: 1rem;
    }

    .doc-wrapper form {
        max-width: none;
    }

    #start_button {
        width: 160px;
    }

    .toolbar {
        max-width: calc(100% - 130px);
    }
}

@media screen and (max-width: 1025px) {
    .interim {
        margin-left: 3.25rem;
    }
}

@media screen and (max-width: 600px) {
    .button-text {
        display: none;
    }

    .toolbar {
        max-width: calc(100% - 88px);
    }

    .toolbar button, #submit {
        max-width: 44px;
    }

    #start_button, .toolbar button, #submit {
        width: 44px;
    }
}

@media screen and (max-width: 460px) {
    #hyphen_button, #double_button {
        display: none;
    }
}
