{% extends 'base.html' %} {% block title %}Dictandu: Help{% endblock %} {% block
content %}
<div
    class="ui basic segment container center aligned stackable grid"
    style="min-height: 100vh"
>
    <div class="Help ten wide column">
        <div class="ui left aligned basic segment">
            <h1>Help & Documentation</h1>
            <ul id="toc">
                <li><a href="#dictandu-tutorial">Dictandu Tutorial</a></li>
                <li><a href="#editor">Dictandu Editor</a></li>
                <li><a href="#faq">Question & Answers</a></li>
            </ul>
            <h2 id="dictandu-tutorial">Dictandu Tutorial</h2>
            <p>
                In this tutorial we will show you, how you get the most out of
                Dictandu. We will guide you through the usage of the Dictandu.
            </p>
            <p>You will learn how you use dictation to your advantage.</p>
            <p>You will learn how you improve your writing.</p>
            <p>
                And you will learn how you get the most out of the Editors
                capabilities.
            </p>
            <p>
                It has worked best for us, if we stick to a 2-step process:
                dictate, review, repeat.
            </p>
            <p>The rest of this tutorial will it show you:</p>
            <ul>
                <li><p>how you dictate</p></li>
                <li><p>and how you edit your article.</p></li>
            </ul>
            <h3 id="dictation">Dictation</h3>
            <p>
                To start the dictation click on “Start Recording” and then speak
                your sentences. It is best you use a headset with a stationary
                microphone, like the people in call centers use. To test
                Dictandu a standard headset for your phone or even the
                microphone on your laptop will do. The better the microphone the
                better the dictation result will be.
            </p>
            <p>
                Now let&#39;s try it. Select the uppercase paragraph below,
                click on “Start Recording” and talk into your microphone.
            </p>
            <p>SELECT ME</p>
            <p>
                You can use punctuation marks during your dictation. This way
                you can structure your sentences without saying words like comma
                or period.
            </p>
            <h4 id="tips-for-successful-dictation">
                Tips for successful dictation
            </h4>
            <h5 id="speak-fluently">Speak Fluently</h5>
            <p>
                To get the best results with dictation try to speak fluently and
                in whole sentences. Try to avoid breaks and let the words flow.
                This way it is easier for the speech recognition to get the
                meaning of your sentence.
            </p>
            <h5 id="get-your-words-out-and-keep-your-lips-moving">
                Get your words out and keep your lips moving
            </h5>
            <p>
                This takes the same line as the tip before. Keep your lips
                moving. Do not edit the text while you&#39;re dictating! Worry
                about errors and style when you are editing your draft.
            </p>
            <h5 id="create-a-structure-first">Create a structure first</h5>
            <p>
                Before you dictate your draft try to create sketch a structure
                of your text first. This way you don&#39;t have to think about
                the structure doing dictation and will dictate more fluently.
            </p>
            <p>
                When you have a structure in place, you only have to fill in the
                gaps in your text.
            </p>
            <p>
                We will soon add an extra feature for structuring that to Sarah.
            </p>
            <h5 id="use-placeholder-words">Use placeholder words</h5>
            <p>
                Some words a very hard to understand for text recognition
                software. Text recognition software especially misunderstands
                made up names like Dictandu because it doesn’t know these words
                exist.
            </p>
            <p>
                For this case use common names as a placeholder you can search
                and replace later in the editing step. For Example I used John
                instead of Dictandu to dictate this tutorial.
            </p>
            <p>
                <em
                    >We will soon add a feature for automatic word
                    replacement.</em
                >
            </p>
            <h3 id="editing">Editing</h3>
            <p>
                If you are like most authors, you will probably have errors in
                your first draft. This is why Dictandu supports you with your
                text editing. Dictandu will assist you with:
            </p>
            <ul>
                <li><p>Spelling</p></li>
                <li><p>Grammar</p></li>
                <li><p>Style</p></li>
            </ul>
            <h4 id="writing-aid">Writing Aid</h4>
            <p>
                Whenever we detect something we think you could improve, we will
                underline this part in the text. Hover over the underlined word
                with your mouse, to see the suggestions. Now let&#39;s look at
                some examples:
            </p>
            <h5 id="spelling-mistakes">Spelling Mistakes</h5>
            <p>
                Spelling mistakes are probably the most obvous ones and we
                underline them red.
            </p>
            <h5 id="grammar">Grammar</h5>
            <p>
                While the English language has no strict punctuation rules, it
                is often easier for your reader if you add commas to show the
                structure of your sentence.
            </p>
            <p>
                Grammatical errors often happen when you having been writing
                fast.
            </p>
            <p>Dictandu underlines grammar errors in blue.</p>
            <h5 id="style">Style</h5>
            <p>
                Style is often a slippery slope. There is no definite answer to
                what is good and to what is bad style. On the other hand it
                cannot hurt to have somebody pointing out areas where we could
                improve. Style suggestions are underlined yellow.
            </p>
            <h4 id="editor-functions">Editor Functions</h4>
            <p>
                Besides the writing aid, Dictandu has also standard editing
                functions to structure your text. They behave like you are used
                to from any text editor you know.
            </p>
            <p>
                You can structure your text in headlines, lists and paragraphs.
                See the help section for keyboard shortcuts.
            </p>
            <h4 id="publish">Publish</h4>
            <p>
                When you finished your article and want to publish it, click on
                the “Export” button on the left, then copy the generated HTML
                code. Insert the HTML code in your WordPress installation or any
                other blog system.
            </p>
            <div class="ui section divider"></div>
            <h2 id="editor">Introducing the Dictandu Editor</h2>
            <h3>Dictandu dashboard</h3>
            <p>
                The dashboard is the place where you can create edit and manage
                your documents.
            </p>
            <p>
                <img
                    class="pure-img-responsive shadow"
                    src="{{ url_for('static', filename='img/docs.png') }}"
                    alt="Dictandu: Dashboard"
                />
            </p>
            <p>
                To delete a document, hover over it and click on the little
                trash bin.
            </p>
            <p>
                <img class="pure-img-responsive shadow" src="{{
                url_for('static', filename='img/trash.png') }}"
            </p>
            <h3>New document</h3>
            <p>
                To create a new document just clicked on the
                <strong>New</strong> button and you get to the text creator
                where you can add a title to your document and start dictating
                your text.
            </p>
            <p>
                <img class="pure-img-responsive shadow" src="{{
                url_for('static', filename='img/new.png') }}"
            </p>
            <h3>Dictate</h3>
            <p>
                To start recording, click on the
                <strong>Start Recording</strong> button or use the key
                combination <kbd>Alt+S</kbd>. Now you can dictate and your
                talking is translated into text.
            </p>
            <p>
                <img class="pure-img-responsive shadow" src="{{
                url_for('static', filename='img/record.png') }}"
            </p>
            <aside>
                <img
                    class="pure-img-responsive shadow right"
                    src="{{ url_for('static', filename='img/allow.png') }}"
                />

                Make sure, that you allow Dictandu to use your microphone.
                Otherwise, we won’t be able to recognize what you’re saying.
                <div class="clearfix"></div>
            </aside>
            <p>
                If you want to add punctuation marks, use the buttons on the top
                or use the respective keys on your keyboard. When you’re
                finished with your first draft, click
                <strong>Stop Recording</strong> or use <kbd>Ctrl</kbd>+<kbd
                    >Space</kbd
                >
                again. Dictandu will switch to editing mode.
            </p>
            <h3>Review</h3>
            <p>
                <img class="pure-img-responsive shadow" src="{{
                url_for('static', filename='img/reviewing.png') }}"
            </p>
            <p>
                Now you can improve your text. If you have Grammarly installed,
                which we highly recommend, you can see suggestions, where your
                text could be improved.
            </p>

            <p>
                The buttons at the top row make it easy to structure your text
                with
                <a href="https://daringfireball.net/projects/markdown/syntax"
                    >Markdown syntax</a
                >. You can insert headings, links and quotes to improve the
                readability of your text.
            </p>

            <p>
                To save your work, click on the <strong>Save</strong> button.
                This will bring you back to the dashboard.
            </p>
            <aside>
                <a href="https://www.grammarly.com" title="Grammarly Website"
                    ><img
                        class="right"
                        src="https://dy6j70a9vs3v1.cloudfront.net/funnel_wap/static/files/7843a0c2bf6c9374a857ec289e8b07c0/new_logo.svg"
                        height="50"
                        alt="Grammarly Logo"/></a
                >We highly recommend that you use
                <a href="https://www.grammarly.com" title="Grammarly Website"
                    >Grammarly</a
                >
                to assist you in your text creation workflow. Grammarly is a
                Chrome browser extension, that is really great at finding
                grammar and spelling mistakes. It will help you improve your
                writing style.
            </aside>
            <h3>Changing a document</h3>
            <p>
                Changing a document is very similar to creating a new one. Just
                choose it on your dashboard and start dictating.
            </p>
            <p>
                By default, your dictation will begin at the end of your
                document. If you want to add text to another position in the
                document, move the cursor there with your keyboard or mouse, and
                start dictating from there.
            </p>
            <p>
                When you’re finished, stop the dictation and go back into
                editing mode, improve your document and restart.
            </p>
            <h3>Changing the dictation language</h3>
            <p>
                <img class="pure-img-responsive shadow" src="{{
                url_for('static', filename='img/settings.png') }}"
            </p>
            <p>
                Dictandu defaults to American English. If you want to use a
                different dialect or language use the
                <strong>Settings</strong> button and choose the language you
                want to use for your document.
            </p>
            <div class="ui section divider"></div>
            <h2 id="faq">Questions & Answers</h2>
            <h3 id="whatistheminimumsetupfordictateio">
                What is the minimum setup for Dictandu?
            </h3>

            <p>
                To use Dictandu you need a Chrome browser or the free variant
                Chromium and a computer with a microphone. To start with
                Dictandu you can use the built-in microphone on your laptop.
            </p>

            <p>
                If you want to get serious, you should invest in a better
                microphone. The better the microphone, to better the speech to
                text recognition.
            </p>

            <p>
                I recommend the
                <a
                    href="https://www.amazon.com/gp/product/B01HOB5SKE/ref=oh_aui_search_detailpage?ie=UTF8&psc=1"
                    target="_blank"
                    title="XIAOKOA wirleless microphone on Amazon"
                    >XIAOKOA 2.4G wireless microphone</a
                >. It allows me to move around when I am dictating. But any
                other decent microphone will do.
            </p>

            <p>
                Additionally, I use a
                <a
                    href="https://www.amazon.com/dp/B01MA5CLZN/ref=sspa_dk_detail_1?psc=1&pd_rd_i=B01MA5CLZN&pd_rd_wg=hSZ7v&pd_rd_r=H2PCP1F940S205S3XM3Y&pd_rd_w=CIjTH"
                    target="_blank"
                    title="Doosl wireless presenter on Amazon"
                    >Doosl wireless presenter</a
                >, that has buttons for up, down, enter and tap. At the moment
                Dictandu maps up to a period, down to a comma, enter to a
                paragraph and tab to a colon.
            </p>

            <h3 id="caniusevoicecommandswithdicatateio">
                Can I use voice commands with Dictandu?
            </h3>

            <p>
                Yes, you can use some voice commands. Mainly the voice commands
                for punctuation marks, like periods, commas, etc.
            </p>

            <p>
                I wouldn't worry about proper punctuation during the dictation
                phase. Instead, focus on fluent dictation. Do your punctuation
                during the reviewing phase. Grammarly will help you to set the
                right punctuation.
            </p>
        </div>
    </div>
    <style media="screen">
        .full.height {
            padding-top: 3rem;
        }
        .ui.segment {
            font-size: 1.2rem;
        }
    </style>
    {% endblock %} {% block script %}

    <script type="text/javascript">
        if ($(window).width() > 413) {
            $('.following.bar').addClass('Solid');
        }
        $('#toc a').on('click', scrollTo);
        function scrollTo(event) {
            const id = $(this)
                .attr('href')
                .replace('#', '');
            const $element = $('#' + id);
            const position = $element.offset().top - 70;
            $('html, body')
                .stop()
                .animate(
                    {
                        scrollTop: position,
                    },
                    500
                );
            event.stopImmediatePropagation();
            event.preventDefault();
            return false;
        }
    </script>
    {% endblock %}
</div>
