{% extends 'base.html' %} {% import tpldir ~ '/_macros.html' as macros %} {%
block title %}Dictandu: Free Dictation Typist{% endblock %} {% block content %}

<!-- Start Masthead -->
<div class="Masthead segment">
    <div class="ui container">
        <div class="introduction">
            <h1 class="ui inverted header">
                Become a faster, better and smarter blogger.
            </h1>
            <p class="tagline">
                Dictandu enables you write up to
                <b>10,000 words in an hour through dictation</b>. It helps
                <b>you</b> to be <b>faster</b>, <b>healthier</b> and
                <b>more creative</b> as a blogger.
            </p>
            <p>
                <img
                    src="/static/img/workflow.png"
                    alt="Dictandu: The Workflow"
                />
            </p>
            <div class="ui hidden divider"></div>
            <a href="{{ url_for('auth.register') }}" class="ui button inverted"
                >Join Our Beta</a
            >
            <a href="{{ url_for('auth.login') }}" class="ui button primary"
                >Try Now For Free!</a
            >
        </div>
    </div>
</div>
<!-- End Masthead -->
<!-- Start Features -->

<div class="Features alternate ui stripe vertical segment">
    <h2 class="ui header center aligned"><em>Write</em> more efficiently</h2>
    <div class="ui four column center aligned divided stackable grid">
        <div class="row">
            <div class="column">
                <div class="ui segment basic">
                    <h3 class="ui header">
                        <i
                            class="microphone icon"
                            style="opacity: 0.6;"
                            title="Export as HTML"
                        ></i>
                        Produce More Content
                    </h3>
                    <p>
                        With dictation you can produce more text in a shorter
                        time. With practice you will create up to 10,000 words
                        in an hour.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment basic">
                    <h3 class="ui header">
                        <i
                            class="medkit icon"
                            style="opacity: 0.6;"
                            title="Export as HTML"
                        ></i>
                        Stay Healty
                    </h3>
                    <p>
                        Too much typing can hurt your wrists and lead to RSI.
                        Dictandu protects your wrists and fingers from overuse.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment basic">
                    <h3 class="ui header">
                        <i
                            class="crosshairs icon"
                            style="opacity: 0.6;"
                            title="Export as HTML"
                        ></i>
                        Focus On Creating
                    </h3>
                    <p>
                        When you're dictating your content, you're forced to
                        focus on creating text. You can Correct and edit your
                        work later.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment basic">
                    <h3 class="ui header">
                        <i
                            class="pencil icon"
                            style="opacity: 0.6;"
                            title="Export as HTML"
                        ></i>
                        Edit And Improve
                    </h3>
                    <p>
                        After you finished your draft, Dictandu helps you to
                        check your content for errors, readability and style.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Features -->

<!-- Start Explaination -->
<div class="Explaination ui stripe vertical segment">
    <div class="stackable very relaxed ui grid container">
        <div class="row">
            <div class="nine wide column">
                <img
                    class="ui rounded centered image shadow"
                    src="{{ url_for('static', filename='img/recording.png') }}"
                    alt="Dictandu: Recording view"
                />
            </div>
            <div class="seven wide column">
                <h2 class="ui header">Write Like You Talk</h2>
                <p>
                    Here’s a <strong>simple trick</strong> to
                    <strong>improve your writing</strong>: Write like you talk.
                </p>
                <p>
                    A lot of people write in a language they would never use in
                    a conversation with a friend. That’s sad because your reader
                    should be your best friend.
                </p>
                <p>
                    The funny thing is, you
                    <strong>don’t need complex language</strong> to present
                    complex ideas. <strong>Simple informal language</strong> is
                    the king of <strong>easy understanding</strong>. Don’t get
                    me wrong, there are some great authors who can use complex
                    language in a very artful way. But for everybody else spoken
                    language works much better.
                </p>
                <p>
                    Writing in spoken language sets you ahead of 99% of all
                    writers. And it’s easy to do: just use a microphone and have
                    a conversation with your reader.
                </p>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class="seven wide column">
                <h2 class="ui header">Review, Edit and Improve</h2>
                <p>
                    Spoken language tends to be <strong>more engaging</strong>.
                    But sometimes it is full of unstructured phrases and even
                    random thoughts.
                </p>
                <p>
                    Then it’s time to <strong>edit your text</strong>. Add
                    punctuation marks, remove unnecessary words and make sure,
                    you use correct grammar.
                </p>
                <p>
                    To help you with proofreading and editing, Dictandu
                    integrates a <b>spelling</b> and <b>grammar checker</b> and
                    a thesaurus. It scans your text for errors and bad style, it
                    then <b>suggests fixes</b> for all of them.
                </p>
            </div>
            <div class="nine wide column">
                <img
                    class="ui rounded centered image shadow"
                    src="{{ url_for('static', filename='img/reviewing.png') }}"
                    alt="Dictandu: Recording view"
                />
            </div>
        </div>
    </div>

    <div class="ui section divider"></div>

    <div class="ui stackable center aligned grid container">
        <div class="row">
            <div class="fourteen wide column">
                <h2 class="ui icon header">
                    <i class="rocket icon"></i> Improve Your
                    <em>Writing</em> Workflow
                </h2>
                <div class="ui stackable center aligned vertically padded grid">
                    <div class="twelve wide column">
                        <img
                            class="pure-img-responsive"
                            src="{{ url_for('static', filename='img/workflow.png') }}"
                            alt="Dictandu: The Workflow"
                        />
                        <div class="ui left aligned basic segment">
                            <p>
                                Dictandu makes it easy for you to choose a
                                better workflow and stick to it. You can divide
                                the workflow of most writers into 4 phases:
                            </p>
                            <ol>
                                <li>
                                    <h3 class="ui sub header">
                                        Ideation &amp; Structuring
                                    </h3>
                                </li>
                                <li><h3 class="ui sub header">Writing</h3></li>
                                <li><h3 class="ui sub header">Editing</h3></li>
                                <li>
                                    <h3 class="ui sub header">
                                        Publishing and Promotion
                                    </h3>
                                </li>
                            </ol>
                            <p>
                                Every piece <strong>starts</strong> with a
                                <strong>new idea</strong>. You then research
                                your topic and get your thoughts in order. You
                                then switch to writing and editing - this is
                                where Dictandu comes into play.
                            </p>
                            <p>
                                Dictandu supports you improve your
                                <strong>writing</strong> and
                                <strong>editing</strong> phases. It helps you to
                                <strong>separate</strong> between the two.
                            </p>
                            <p>
                                When you are dictating you can focus to get your
                                thoughts out. A lot of us
                                <strong>edit</strong> their texts
                                <strong>while they&#39;re writing</strong>.
                                <strong>This is a big mistake.</strong> You
                                should <strong>focus</strong> on getting your
                                work <em>on paper</em> and produce content.
                            </p>
                            <p>
                                Dictandu makes this easy. While you&#39;re
                                talking, you
                                <strong>don’t think about</strong> improving
                                <strong>the last sentence</strong> as easily as
                                you do when your are typing. You get your words
                                out and produce content fast -
                                <strong>up to 10,000 words an hour</strong>.
                                When you&#39;re finished, you switch to editing
                                mode and start phase 4.
                            </p>
                            <p>
                                In the editing phase you focus on
                                <strong>improving your text</strong>. You
                                correct your grammar and check if your style
                                works for your piece. Dictandu support you in
                                this phase with a built-in writing assistant
                                that points out possible mistakes and style
                                issues.
                            </p>
                            <p>
                                You
                                <strong
                                    >cycle through the editing and
                                    writing</strong
                                >
                                phases until you finish your piece and are ready
                                for publishing. In the final phase you publish
                                and promote your peace. Dictandu lets you
                                <strong
                                    >easily export your text to every publishing
                                    system</strong
                                >
                                you use.
                            </p>
                        </div>
                        <a
                            class="ui large right labeled primary icon button"
                            href="{{ url_for('auth.login') }}"
                        >
                            <i class="right chevron icon"></i> Try Now For Free
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Explaination -->

<style>
    .Masthead {
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: 0em;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 0px;
        border-bottom: none;
        background-color: var(--sidebar_bg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
            url({{url_for('static', filename= 'img/splash-background2.jpg')}});
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: background 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s,
            opacity 6s cubic-bezier(0.68, -0.55, 0.265, 1.4) 0s;
    }
    .Masthead.segment {
        z-index: 3;
        min-height: 185px;
        padding: 3em 0em;
        box-shadow: none;
    }
    .Masthead .container {
        min-height: 200px;
    }
    .Masthead img {
        display: none;
    }
    .Masthead button {
        margin-bottom: 1rem;
    }
    .introduction > h1.ui.header {
        font-size: 1.75rem;
    }
    .tagline {
        font-size: 1.25rem;
    }
    .ui.vertical.segment.stripe {
        padding: 2rem 0;
    }
    .stripe.ui.vertical.segment .grid .row:first-child {
        margin-top: 0;
    }
    .stripe.ui.vertical.segment .grid .row {
        margin: 2rem 0;
    }
    .stripe .column > p,
    .stripe .column > ol,
    .stripe .column > ul,
    .stripe .column .segment {
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 1.2rem 0;
    }
    .stripe h2.ui.header {
        font-weight: normal;
    }
    .Features {
        padding-top: 3rem !important;
    }
    .Features .ui.center.aligned.header {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    .shadow {
        border: 1px solid #eee;
        box-shadow: 6px 30px 30px rgba(23, 43, 77, 0.1);
        margin-bottom: 2rem;
    }
    .Explaination .rocket.icon:before {
        color: var(--light_bg_color);
    }

    @media only screen and (min-width: 414px) {
        .following.bar {
            display: block;
            padding-top: 1em;
        }
        .following.bar .right.menu .item {
            display: flex;
        }
        .following.bar .right.menu .item.menu {
            display: none;
        }
        .Masthead .container {
            margin-top: 50px;
        }
    }

    @media only screen and (min-width: 415px) {
        .Masthead {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.35),
                    rgba(0, 0, 0, 0.35)
                ),
                url({{url_for('static', filename= 'img/splash-background3.jpg')}});
        }
    }

    @media only screen and (min-width: 768px) {
        .Features .ui.center.aligned.header {
            margin-bottom: 1em;
        }
        .Explaination .stackable.very.relaxed.ui.grid.container,
        .Explaination .ui.stackable.center.aligned.grid.container {
            margin-top: 4rem;
        }
    }

    @media only screen and (min-width: 769px) {
        .Masthead {
            background: linear-gradient(
                    rgba(0, 0, 0, 0.35),
                    rgba(0, 0, 0, 0.35)
                ),
                url({{url_for('static', filename= 'img/splash-background1.jpg')}});
            background-position-x: -800px;
        }
        .Masthead img {
            display: block;
            margin: 0 auto;
        }
    }

    @media only screen and (min-width: 1025px) {
        .Masthead {
            background-position-x: -400px;
        }
    }

    @media only screen and (min-width: 1441px) {
        .Masthead {
            background-position-x: 0;
        }
    }
</style>
{% endblock %} {% block script %}
<script type="text/javascript">
    if ($(window).width() > 413) {
        $('body').visibility({
            offset: -10,
            observeChanges: false,
            once: false,
            continuous: false,
            onTopPassed: function() {
                requestAnimationFrame(function() {
                    $('.following.bar').addClass('Solid');
                });
            },
            onTopPassedReverse: function() {
                requestAnimationFrame(function() {
                    $('.following.bar').removeClass('Solid');
                });
            },
        });
    }
</script>
{% endblock %}
