<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="preload"
            href="{{ url_for('static', filename='cdn/tinymce/skins/lightgray/fonts/tinymce.woff') }}"
            as="font"
            crossorigin
        />
        <link
            rel="preload"
            href="{{ url_for('static', filename='cdn/tinymce/skins/lightgray/skin.min.css') }}"
            as="style"
        />
        <link
            rel="preload"
            href="https://code.jquery.com/jquery-3.1.1.min.js"
            as="script"
        />
        <link
            rel="preload"
            href="{{ url_for('static', filename='cdn/semantic/semantic.min.js') }}"
            as="script"
        />
        <link
            rel="preload"
            href="{{ url_for('static', filename='cdn/tinymce/tinymce.min.js') }}" as="script"
        />
        <link
            rel="preload"
            href="{{ url_for('static', filename='js/webspeech/main.js') }}"
            as="script"
            crossorigin
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Dictandu{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='cdn/semantic/semantic.min.css') }}"
        />
        <style>
            :root {
                --base_color: white;
                --base_bg_color: #f5f6f7;
                --text_color: #3b3e45;
                --selected_fg_color: white;
                --selected_bg_color: #5294e2;
                --button_primary_color: #5a96ec;
                --primary_color: #5a96ec;
                --link_color: #2679db;
                --link_visited_color: #1e61b0;
                --warning_color: #f27835;
                --error_color: #fc4138;
                --warning_fg_color: white;
                --error_fg_color: white;
                --success_color: #73d216;
                --destructive_color: #f04a50;
                --suggested_color: #4dadd4;
                --destructive_fg_color: white;
                --suggested_fg_color: white;
                --sidebar_bg: #353945;
                --sidebar_fg: #bac3cf;
                --sidebar_border: var(--sidebar_bg);
                --light_bg_color: #e9eaed;
                --dark_bg_color: #404552;
            }
            .Notification.ui.one.column.stackable.center.aligned.page.grid {
                position: fixed;
                left: 0;
                top: 0;
                z-index: 100000;
                width: 100%;
                padding-top: 0;
            }
            .fixed.menu > .container {
                margin-left: 0;
                margin-right: 0;
                width: 100%;
                max-width: none;
            }
            .sidebar.ui.menu .item {
                padding-left: 2em;
                padding-right: 2em;
            }
            .ui.inverted.menu {
                background: var(--sidebar_bg);
            }
            .ui.inverted.menu .active.item {
                background: var(--selected_bg_color);
            }
            .ui.primary.button,
            .ui.primary.buttons .button {
                background-color: var(--button_primary_color);
            }
            @media only screen and (min-width: 1145px) {
                .fixed.main.menu {
                    display: none;
                }
                .ui.vertical.inverted.sidebar.menu.left.borderless {
                    visibility: visible;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
                .pusher {
                    -webkit-transform: translate3d(260px, 0, 0);
                    transform: translate3d(260px, 0, 0);
                }
                .ui.container {
                    width: calc(100% - 290px);
                    margin-left: 0 !important;
                    padding-left: 2em;
                }
            }
        </style>
        {% block style %}{% endblock %}
        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['setCookieDomain', '*.www.dictandu.com']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u = '//vollernter.org/';
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '6']);
                var d = document,
                    g = d.createElement('script'),
                    s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body class="minimal pushable" style="height: 100vh;">
        {% for message in get_flashed_messages() %}
        <div
            class="Notification ui one column stackable center aligned page grid"
        >
            <div class="column twelve wide">
                <div class="ui bottom attached compact info message">
                    <i class="close icon"></i>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div
            class="ui vertical inverted sidebar menu left borderless"
            style="display:flex; padding-top: 5em; padding-bottom: 1em;"
        >
            <div class="item">
                <a
                    class="ui logo icon image"
                    href="{{ url_for('docs.mydocs') }}"
                >
                    <img
                        src="{{ url_for('static', filename='img/logo.svg') }}"
                        style="height: 2em;"
                        alt="Logo"
                    />
                </a>
            </div>
            <a
                class="{% if g.route == '/docs'%}active{% endif %} item"
                href="{{ url_for('docs.mydocs') }}"
            >
                <i class="file alternate outline icon"></i> My Documents
            </a>
            <a class="item" href="{{ url_for('auth.logout') }}">
                <i class="power off icon"></i> Logout
                <small>{{ current_user.username.split(" ")[0] }}</small>
            </a>
            <a
                class="right item"
                style="margin-top:auto;"
                href="{{ url_for('pages.help') }}"
                target="blank"
            >
                <i class="question circle outline icon"></i> Help
            </a>
            <a
                class="right item"
                href="https://bitbucket.org/marco_rockiger/dictateio/issues/new"
                target="blank"
            >
                <i class="bug icon"></i> Report Error / Ask question
            </a>
        </div>
        <div class="ui fixed inverted main menu" style="height: 3em;">
            <div class="ui container">
                <a class="launch icon item"> <i class="content icon"></i> </a>

                <div class="item">{% block header %}Dictandu{% endblock %}</div>
            </div>
        </div>
        <div class="pusher">
            <!-- Site content ! -->
            {% block content %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='cdn/semantic/semantic.min.js') }}"></script>
        <script>
            $('.launch.icon.item').click(() => {
                $('.ui.sidebar').sidebar('toggle');
            });

            $('.message .close').on('click', function() {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
