{% extends 'docs/base.html' %}

{% block content %}

<main class="ui container">
<div style="display:none;" id="credentials" data-email="{{ email }}" data-hash="{{ hash }}" data-author_id="{{ author_id }}" data-id="{% if id is defined %}{{ id }}{% endif %}"></div>
<div style="display:none" id="replacements" data-replacements="{{ replacements }}"></div>

<form method="post" id="docform">
    <div class="ui equal width grid">
            <div id="leftside" class="column my-leftside">
                <div class="ui top attached menu">
                    <div class="right menu">
                        <div class="ui icon item horizontally fitted borderless">
                            <i id="info_button" class="info circle circular grey link icon" style="opacity: 0.7;" title="Show Info"></i>
                        </div>
                        <div class="ui icon item borderless">
                            <i id="settings_button" class="sun outline circular grey link icon" style="opacity: 0.7;" title="Change settings"></i>
                        </div>
                        <div class="ui icon item horizontally fitted borderless">
                            <i id="export_button" class="cloud download circular grey link icon" style="opacity: 0.6;" title="Export as HTML"></i>
                        </div>
                        <div class="ui icon item right borderless">
                            <button id="submit" type="submit" class="ui primary button">
                                <!-- <i class="save icon"></i> -->
                                Save
                            </button>
                        </div>
                        <div id="switch-right" class="ui link icon item right my-switch" title="Switch sides" center">
                            <i class="caret square right outline link icon"></i>
                        </div>
                    </div>
                </div> <!-- End Menu -->

                <div id="leftside-wrapper" class="ui bottom attached segment my-leftside-wrapper">

                    <div class="ui fluid transparent input dividing">
                        <label class="my-leftside-label" for="title">title</label>
                    </div>
                    <div class="ui fluid transparent input dividing">
                        <input id="title" name="title" placeholder="Insert your title" title="Insert your title" required="" spellcheck="true" type="text" value="{% block title %}{% endblock %}" />
                    </div>

                    <!-- Automatic substitution -->
                    <div class="my-leftside-label">Automatic substitution <i class="question circle outline link icon my-help-popup" data-variation="very wide" data-html="<h3>Automatic Substitution</h3><p>Automatic substitution enables you to replace words, that are notoriously difficult for speech recognition, with placeholder words. For example, speech recognition doesn&#39;t know company names from and small companies.</p>
                        <p>Let&#39;s say you would like to use <strong>Dictandu</strong> in your document. You could use the word <strong>John</strong> as a placeholder for Dictandu. Enter <strong>John</strong> on the left side under the <strong>Replace</strong> column and enter <strong>Dictandu</strong> on the right site under the <strong>With</strong> Column.</p>
                        <p>Now the next time you will dictate the word <strong>John</strong>, <strong>Dictandu</strong> will automatically be inserted in your document.</p>"></i></div>
                    <div id="automatic-substitution" class="ui secondary segment">
                        <div class="ui form my-substitution__row ">
                            <div class="inline fields my-substition__row__label">
                            <div class="one wide field" style="width: 2.25rem !important;">
                                    <div class="ui checkbox" style="visibility:hidden;">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                            </div>
                            <div class="seven wide field">
                                <label>Replace</label>
                            </div>
                            <div class="seven wide field">
                                <label>With</label>
                            </div>
                            <div class="one wide field">
                            </div>
                            </div>
                        </div>
                        <div id="automatic-substitution-row" class="ui form my-substitution__row">
                            <div class="inline fields">
                                <div class="one wide field" style="width: 1.75rem !important;">
                                    <div class="ui mini checkbox" style="visibility:hidden;">
                                        <input type="checkbox">
                                        <label></label>
                                    </div>
                                </div>
                                <div class="seven wide field">
                                <input id="placeholder" type="text" placeholder="Phrase to replace" title="Phrase to replace">
                                </div>
                                <div class="seven wide field">
                                <input id="substitution" type="text" placeholder="Replacement" title="Replacement">
                                </div>
                                <div class="one wide field">
                                    <i class="close icon"  style="visibility:hidden;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Automatic substitution -->


                    <!-- <aside id="contexthelp" class="ui secondary segment">
                        <div id="reviewhelp">
                            <h2 class="ui header">You are in Review Mode</h2>
                            <p>Click on <b>Start Recording</b> to dictate. The editor will switch into dictation mode.</p>
                        </div>
                        <div id="dictatehelp" style="display:none">
                                <h2 class="ui header">You are in Dictation Mode</h2>
                                <p>Click on <b>Stop Recording</b> to stop dictating. The editor will switch back into review mode.</p>
                        </div>
                        <h2 class="ui header">How does Dictandu work?</h2>
                        <p>Dictandu's editor has two modes: <b>Dictation</b> and <b>Reviewing</b>.</p>
                        <p>You get the most out of Dictandu with the following workflow:</p>
                        <ul>
                            <li>Dictate</li>
                            <li>Review and Edit</li>
                            <li><b>Repeat!</b></li>
                        </ul>
                        <p>While you are dictating don't think about errors or structure. Just let your mouth moving and your words flow!</p>
                        <p>After you have dictated your first draft, switch into editing mode, structure your text, revise your work, check for style and spelling errors.</p>
                        <p>Repeat this two-step process until you finish your piece.</p>

                    </aside> -->
                </div>


            </div> <!-- END Leftside -->
            <div id="rightside" class="column my-rightside">
                {{ form.hidden_tag()}}
                {{ form.body(style="display: none;") }}
                <div class="ui segments">
                    <div id="editor" class="ui segment"></div>
                    <div class="ui segment footer">
                        <div id="interim_wrapper" class="interim_wrapper hidden">
                            <div id="interim_label" class="interim_label"><b>Interim Result:</b></div>
                            <div id="interim_span" class="interim"></div>
                        </div>
                    </div>
                </div>

                <!-- Start Button Menu -->
                <div class="ui menu" style="position: absolute;top: 1em;right: 0px;z-index: 100;margin-top: calc(0.5em);border: none;box-shadow: none;height: 3.8em;border-radius: 0;border-bottom: 1px solid silver;margin: 0;">
                    <div class="ui icon item right borderless">
                        <div id="start_button" class="ui green button" title="Alt+S">Start Recording</div>
                    </div>
                    <div id="switch-left" class="ui link icon item right my-switch" title="Switch left" center">
                        <i class="caret square left outline link icon"></i>
                    </div>
                </div> <!-- End Start Button Menu -->

            </div> <!-- End rightside -->
        </div>
</form>
</main>

<div id="settings_popup" class="ui mini modal">
    <div class="header">
        Coose Language
    </div>
    <div class="content">
        <form  class="ui equal width form" id="div_language">
        <div class="fields">
            <div class="field">
                <select id="select_language"></select>
            </div>
            <div class="field">
                <select id="select_dialect"></select>
            </div>
        </div>
    </form>
    </div>
    <div class="actions">
        <div class="ui ok primary right icon button">
        Close
        </div>
    </div>
</div>

<div id="export_popup" class="ui modal">
    <div class="header">
        Export as HTML
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <textarea spellcheck="false" name="export_textarea"
                id="export_textarea" style="height: 76vh; max-height: 76vh;"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui ok primary right icon button">
        Close
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
function switchSide() {
        $('#rightside').transition({
            animation: 'fly left',
            duration: '1s'
        });
    }
$('#switch-right').click(switchSide);
$('#switch-left').click(switchSide);

$('.my-help-popup').popup();
</script>

<!-- <script src="{{ url_for('static', filename='cdn/prosemirror.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/markdown-it.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/prosemirror-markdown.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/beyond-grammar-plugin.js') }}"></script> -->
<script src="{{ url_for('static', filename='cdn/tinymce/tinymce.min.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/tinymce-placeholder.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/webspeech/tinymce-dictandu-plugin/tinymce-dictandu.plugin.js') }}"></script> -->
<!-- <script src="https://prowriting.azureedge.net/beyondgrammar-tinymce/1.0.22/dist/beyond-grammar-plugin.js"></script> -->

<script type="module" src="{{ url_for('static', filename='js/webspeech/main.js') }}"></script>
<script src="{{ url_for('static', filename='cdn/marked.min.js') }}"></script>
{% endblock %}
