{% extends 'docs/base.html' %}
{% block header %}My Documents{% endblock %}
{% block style %}
<style>
.pusher {padding-top: 5em; padding-bottom: 2em; display: flex;}
@media only screen and (min-width: 1145px) {
    .pusher {
    padding-top: 2em;
    }
}

.ui.card, .ui.cards>.card {
    width: 220px;
    height: 240px;
    max-height: 100%;
    overflow: hidden;
}
.ui.card>.content .trash.icon:hover, .ui.cards>.card>.content .trash.icon:hover {
opacity: 1;
color: #ff2733;
}
@media only screen and (min-width: 520px) {
    .ui.centered.cards {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

.mydocs__onboarding {
    margin-left: 0;
    margin-top: 1em;
    max-width: 455px;
}

.alert {
    padding: 1rem 2rem;
    border-radius: 5px;
}

.alert_secondary {
    background: #eee;
}
.mydocs__onboarding .alert {
    display: flex;
}
.mydocs__onboarding__arrow-container__arrow {
    max-width: 6rem;
    width: 100%;
    margin-right: 1rem;
}
</style>
{% endblock %}

{% block script %}
<script>
$('.delete .link').click( function (event) {
    event.preventDefault();
    event.stopPropagation(); 
    console.log($(this).closest('input'));
    $(this).next('input').click();
    return 
});
</script>
{% endblock %}

{% block content %}
<main class="ui container">
  <div class="ui centered cards">
      <a href="{{ url_for('docs.create') }}" class="ui card">
          <div class="content">
              <main style="padding-top: 35px; color: rgba(0,0,0,0.4);" class="center aligned description">
                  <i class="huge file outline icon"></i>
                  <h2 class="huge header">New</h2>
              </main>
          </div>
      </a>
      {% for post in docs %}
      <a class="ui card" href="{{ url_for('docs.update', id=post.id) }}">
          <div class="content">
              <header class="header">{{ post.title }}</header>
              <!-- <div class="meta">
                <span>{{ post.created.strftime('%Y-%m-%d') }}</span>
              </div> -->
              <main class="description">
              <p>{{ post.body[0:100] }}</p>
              </main>
          </div>
          <div class="extra content">
              <form class="delete" action="{{ url_for('docs.delete', id=post['id']) }}" method="post">
                  <span class="right floated link">
                      <i class="large trash alternate outline icon"></i>
                  </span>
                  <input style="display: none;" type="submit" value="" onclick="return confirm('Do you really want to delete »{{ post.title }}«?');">
              </form>
          </div>
      </a>
      {% endfor %}
      
  </div>
  {% if docs.count() < 5 %}
    <div class="mydocs__onboarding">
        <div class="alert alert_secondary">
            <div class="mydocs__onboarding__arrow-container">
                <img class="mydocs__onboarding__arrow-container__arrow" src="{{ url_for('static', filename='img/arrow-right-curve.svg') }}" alt="" />
            </div>
            <div>
                <h3>Let's dictate a new post!</h3>
                <p>
                    A smarter way to create your blog post awaits you right there...
                </p>
                <p>
                    Alternatively, you can <b>checkout</b> the <b>Example Project</b>.
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}