{% extends 'admin/master.html' %}

{% block body %}
    <p><a href="{{ url_for('index') }}">< back to main site</a></p>
    {% if current_user.is_administrator() %}
        <h1>Dictandu Admin</h1>
        <h2>Create new user</h2>
        <p>If you want to add a user please go to the <a href="{{ url_for('auth.register') }}">Register User Page</a></p>

        <p><a class="btn btn-primary" href="{{ url_for('auth.register') }}">Create new user</a></p>
    {% endif %}
{% endblock %}