<p>Hello {{ user.username.split(" ")[0] }},</p>
<p>welcome to <b>Dictandu</b>!</p>
<p>Thank you for registering for Dictandu's beta.</p>
<p>Please confirm your account by <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">clicking here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>If you have any suggestions or want to get in contact with me, feel free to drop me a line.</p>

<p>Best<br />
Marco</p>