{% extends 'base.html' %}

{% block title %}Dictandu: 404{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="content">
        <div class="content row">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-lg-1-2 pure-u-3-5">
                    <h2>Sorry, we couldn't find what your looking for.</h2>
                    <p>Maybe <a href="/">go to the startpage</a> to find what you are looking for.</p>
                </div>
                <div class="pure-u-1 pure-u-lg-1-2 pure-u-2-5 l-box-lrg">
                    <img class="pure-img-responsive" src="/static/img/Blue-Robot.svg" alt="Dictandu: Ceasar">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}