{% macro nav_link(endpoint, name, class='') -%}
    {% if request.endpoind and request.endpoint.endswith(endpoint) %}
        <a href="{{ url_for(endpoint) }}" class="active {{ class }}">{{ name }}</a>
    {% else %}
        <a href="{{ url_for(endpoint) }}" class="{{ class }}">{{ name }}</a>
    {% endif %}
{%- endmacro %}



{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{
    value|e }}" size="{{ size }}">
{%- endmacro %}

{% macro render_field(field, icon='') %}<div class="field"><div class="ui left icon input">
<i class="{{icon}} icon"></i>
  {{ field() }}
  </div>
  {% if field.errors %}
    {% for error in field.errors %}
    <div class="ui bottom attached tiny negative message">{{ error }}</div>
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}

{% macro create_menu(wrapper_class='', menu_class='', right_class='') %}
<div class="ui {{ wrapper_class }}">
  <div class="ui {{ menu_class }}">
      <a class="toc item"><i class="sidebar icon"></i>
      <!-- <a class="item" href="{{url_for('pages.index')}}"><img src="{{ url_for('static', filename='img/logo.svg') }}" height="32" alt="Logo" /></a> -->
      {{ nav_link('pages.index', 'Home', 'item') }}
      {{ nav_link('pages.help', 'Help', 'item') }}
      {{ nav_link('pages.privacy', 'Privacy', 'item') }}
    <div class="right {{ right_class }}">
      <div class="">
          {% if is_logged_in %}
             {{ nav_link('auth.logout', 'Log Out','ui button inverted') }}
          {% else %}
              {{ nav_link('auth.login', 'Log In', 'ui button inverted') }}
          {% endif %}
      </div>
      <!-- <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div> -->
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_inside_menu(is_logged_in=false) %}

{{ create_menu('container', 'large secondary inverted pointing menu', 'item')}}

{% endmacro %}

{% macro render_header_menu(is_logged_in=false) %}

<!-- Start Header Menu -->
{{ create_menu('large top fixed hidden menu', 'container', 'menu')}}
<!-- End Header Menu -->
{% endmacro %}

{% macro render_mobile_menu() %}
<!-- Start Mmenu -->
<div class="Mmenu ui fixed inverted main menu">
  <div class="ui container">
    <a id="Menulauncher" class="launch icon item">
      <i class="content icon"></i>
    </a>

    <div class="right menu">

      <div class="vertically fitted borderless item">
          <a class="item" href="{{url_for('pages.index')}}"
              ><img
                  class="ui logo"
                  src="{{ url_for('static', filename='img/logo.svg') }}"
                  alt="Logo"
          /></a>
      </div>
    </div>
  </div>
</div>
<!-- End Mmenu -->
{% endmacro %}

{% macro render_sidebar_menu(is_logged_in=false) %}
<div class="ui vertical inverted sidebar menu left borderless uncover">
        <div class="item">
            <a class="ui logo icon image" href="{{ url_for('pages.index') }}">
                <img src="/static/img/logo.svg" style="height: 2em;" alt="Logo">
            </a>
        </div>
        {{ nav_link('pages.index', 'Home', 'item') }}
        {{ nav_link('pages.help', 'Help', 'item') }}
        {{ nav_link('pages.privacy', 'Privacy', 'item') }}
            {% if is_logged_in %}
               {{ nav_link('auth.logout', 'Log Out','item') }}
            {% else %}
                {{ nav_link('auth.login', 'Log In', 'item') }}
            {% endif %}
    </div>
{% endmacro %}


{% macro render_following_bar() %}
<!-- Start following bar -->
<div class="following bar">
    <div class="ui container">
        <div class="ui large inverted secondary network menu ">
            <a class="item" href="{{url_for('pages.index')}}"
                ><img
                    class="ui logo"
                    src="{{ url_for('static', filename='img/logo.svg') }}"
                    alt="Logo"
            /></a>

            <div class="right menu">
                 {{ nav_link('pages.index', 'Home', 'item') }} {{
                    nav_link('pages.help', 'Help', 'item') }} {{
                        nav_link('pages.privacy', 'Privacy', 'item') }} {% if
                is_logged_in %} {{ nav_link('auth.logout', 'Log
                Out','item') }} {% else %} {{ nav_link('auth.login', 'Log
                In', 'item') }} {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- End following bar -->
{% endmacro %}
