{% import "_macros.html" as macros %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
        />
        <title>{% block title %}Dictandu{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='cdn/semantic/semantic.min.css') }}"
        />

        <link 
            rel="preload" 
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            as="script"
        />
        <link 
            rel="preload"
            src="{{ url_for('static', filename='cdn/semantic/semantic.min.js') }}"
            as="script"
        />

        <meta
            name="google-site-verification"
            content="VI-k6vYwEfUZCrkFaSuEdl7INFXrqEWTXL63_qmDeIo"
        />

        <style media="screen">
            :root {
                --base_color: white;
                --base_bg_color: #f5f6f7;
                --text_color: #3b3e45;
                --selected_fg_color: white;
                --selected_bg_color: #5294e2;
                --button_primary_color: #5a96ec;
                --primary_color: #5a96ec;
                --link_color: #2679db;
                --link_visited_color: #1e61b0;
                --warning_color: #f27835;
                --error_color: #fc4138;
                --warning_fg_color: white;
                --error_fg_color: white;
                --success_color: #73d216;
                --destructive_color: #f04a50;
                --suggested_color: #4dadd4;
                --destructive_fg_color: white;
                --suggested_fg_color: white;
                --sidebar_bg: #353945;
                --sidebar_fg: #bac3cf;
                --sidebar_border: var(--sidebar_bg);
                --light_bg_color: #e9eaed;
                --dark_bg_color: #404552;
            }
            img {
                max-width: 100%;
            }
            li > * {
                text-align: left;
            }
            .Notification.ui.one.column.stackable.center.aligned.page.grid {
                position: fixed;
                left: 0;
                top: 0;
                z-index: 100000;
                width: 100%;
                padding-top: 0;
            }
            .menu.hidden {
                display: none;
            }
            .ui.inverted.menu {
                background-color: var(--sidebar_bg);
            }
            .Mmenu.ui.inverted.menu .item:before {
                background: none;
            }
            .ui.logo {
                height: 2rem;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
                margin-bottom: 10px;
            }
            .pusher {
                margin-top: 50px;
            }

            .following.bar {
                display: none;
                position: fixed;
                top: 0px;
                z-index: 900;
                left: 0%;
                padding: 1em 0 2em;
                width: 100%;
                box-shadow: 0px 0px 0px 0px transparent;
                border-bottom: 1px solid transparent;
                transition: padding 0.5s ease, background 0.5s ease,
                    box-shadow 0.5s ease, border0.5s ease;
            }
            .Solid.following.bar {
                background-color: var(--sidebar_bg);
                padding: 0;
            }
            .following.bar .right.menu .item.menu {
                display: flex;
            }
            .following.bar .ui.secondary.inverted.menu a.item {
                color: var(--base_color) !important;
            }

            .ui.primary.button,
            .ui.primary.buttons .button {
                background-color: var(--button_primary_color);
            }
            .ui.inverted.segment,
            .ui.primary.inverted.segment {
                background-color: var(--sidebar_bg);
            }

            .ui.alternate.segment {
                background-color: var(--light_bg_color);
            }
            .Dfooter.ui.basic.inverted.center.aligned.segment {
                margin: 0;
            }
            .Toplink {
                position: fixed;
                bottom: 0.5rem;
                right: 2.5rem;
                z-index: 999;
            }
            .Toplink.hidden {
                display: none;
            }
            .Footer.ui.segment {
                margin-top: 0;
            }
            .ui.primary.header {
                color: var(--primary_color) !important;
            }

            @media only screen and (min-width: 414px) {
                .pusher {
                    margin-top: 0;
                }
                .Mmenu.ui.menu {
                    display: none;
                }
                .following.bar {
                    display: block;
                }
            }
        </style>

        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be
called before "trackPageView" */ _paq.push(
                ['setCookieDomain', '*.www.dictandu.com']
            );
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u = '//vollernter.org/';
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', '6']);
                var d = document,
                    g = d.createElement('script'),
                    s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body class="pushable">
        {{ macros.render_sidebar_menu(current_user.is_authenticated) }} {{
        macros.render_mobile_menu() }} {% for message in get_flashed_messages()
        %}
        <div
            class="Notification ui one column stackable center aligned page grid"
        >
            <div class="column twelve wide">
                <div class="ui bottom attached compact info message">
                    <i class="close icon"></i>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Page Contents -->
        <div class="pusher">
            <div class="full height" style="min-height: 100vh">
                {{ macros.render_following_bar() }} {% block content %}{%
                endblock %}
            </div>
            <button class="Toplink hidden ui icon button">
                <i class="chevron up icon"></i>
            </button>
            <div class="Footer ui basic inverted center aligned segment">
                © Dictandu
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="{{ url_for('static', filename='cdn/semantic/semantic.min.js') }}"></script>
        <script type="text/javascript">
            $('#Menulauncher').click(() => {
                $('.ui.sidebar').sidebar('toggle');
            });
            $('.message .close').on('click', function() {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
            $('body').visibility({
                offset: -800,
                observeChanges: false,
                once: false,
                continuous: false,
                onTopPassed: function() {
                    requestAnimationFrame(function() {
                        $('.Toplink').removeClass('hidden');
                    });
                },
                onTopPassedReverse: function() {
                    requestAnimationFrame(function() {
                        $('.Toplink').addClass('hidden');
                    });
                },
            });
            $('.Toplink').click(() => {
                $('body,html').animate({ scrollTop: 0 });
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
